.grid{
    position: absolute;
    width: 560px;
    height: 300px;
    border: 1px solid rgb(22, 17, 17);
    margin-top: 80px;
}

.block{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(35, 17, 202);
    left: 50px;
    bottom: 50px;
}

.user{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: purple;

}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color:red;
}